.App {
  text-align: center;
}
.form1 {
  font-size: 14px;
  width: 500px;
  border: 3px solid;
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  padding: 10px;
  align-items: center;
}

.form2 {
  font-size: 14px;
  width: 500px;
  border: 3px solid;
  display: flex;
  flex-direction: column;

  border-radius: 5px;
  padding: 10px;
  align-items: center;
}
